.container {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 2%;
}
.btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 1em;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
    opacity: 0;
    animation-name: social;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
i.fa {
    font-size: 44px;
}
#fb {
    color: #006fff;
    text-shadow: 0 0 30px #006fff;
}
#ig {
    color: #ff5f40;
    text-shadow: 0 0 30px #ff5f40;
}
#gh {
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}
#li {
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}
#di {
    color: #00acff;
    text-shadow: 0 0 30px #00acff;
}
.btn.fb-btn {
    box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53);
}
.btn.fb-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.65);
}
.btn.ig-btn {
    box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5);
}
.btn.ig-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57);
}
.btn.gh-btn {
    box-shadow: 0 20px 20px -17px rgba(0, 255, 8, 0.53);
}
.btn.gh-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0, 117, 18, 0.6);
}
.btn.li-btn {
    box-shadow: 0 20px 20px -17px rgba(8, 179, 139, 0.53);
}
.btn.li-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(0, 255, 208, 0.6);
}
.btn.di-btn {
    box-shadow: 0 20px 20px -17px rgba(113, 0, 138, 0.53);
}
.btn.di-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 30px 45px -15px rgba(238, 0, 255, 0.6);
}

@keyframes social {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
       
    }
}
