<div class="contact" id="contact">
	<div id="contact-form">
		<div>
			<h1>Nice to Meet You!</h1>
			<h4>
				Have a question or just want to get in touch? Let's chat.
			</h4>
		</div>
		<p id="failure">
			Oopsie...message not sent.
		</p>
		<p id="success">
			Your message was sent successfully. Thank you!
		</p>

		<form method="post"
			action="/">
			<div>
				<label for="name">
					<span class="required">Name: *</span>
					<input type="text"
						id="name"
						name="name"
						value
						placeholder="Your Name"
						required="required"
						tabindex="1"
						autofocus="autofocus">
				</label>
			</div>
			<div>
				<label for="email">
					<span class="required">Email: *</span>
					<input type="email"
						id="email"
						name="email"
						value
						placeholder="Your Email"
						tabindex="2"
						required="required">
				</label>
			</div>
			<div>
				<label for="subject">
					<span>Subject:</span>
					<select id="subject"
						name="subject"
						tabindex="4">
						<option value="hello">Angebot</option>
						<option value="quote">Kennenlernen</option>
						<option value="general">Sonstiges</option>
					</select>
				</label>
			</div>
			<div>
				<label for="message">
					<span class="required">Message: *</span>
					<textarea id="message"
						name="message"
						placeholder="Please write your message here."
						tabindex="5"
						required="required"></textarea>
				</label>
			</div>
			<div>
				<button name="submit"
					type="submit"
					id="submit">
					SEND
				</button>
			</div>
		</form>

	</div>
	<div id="map">
		<main>
			<!-- ================== -->
			<!-- Google Map Element -->
			<section class="google-map">
				<div class="map-frame">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5284.025946349634!2d11.49466910000001!3d48.532983099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2sde!4v1642030187619!5m2!1sde!2sde"
						width="600"
						height="450"
						style="border:0;"
						allowfullscreen
						loading="lazy"></iframe>
				</div>
			</section>
			<!-- Google Map Element -->
			<!-- ================== -->
		</main>

	</div>
</div>
