<div>
    <div class="container">
      <ul>
        <li><a href="#"><i class="fas fa-home" aria-hidden="true"></i></a></li>        
        <li><a href="#"><i class="fas fa-align-left" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fas fa-graduation-cap" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fas fa-project-diagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fas fa-user-edit" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fas fa-map-marked-alt" aria-hidden="true"></i></a></li>
        
      </ul>
    </div>
  </div>