<div class="lebenslauf" id="work">
	<span>curriculum vitae</span>
	<section class="timeline">
		<ul>
			<li>
				<div class="box">
					<time>1991-2001</time>
					<div class="discovery">
						<h1>
							Grund & Realschule, Neukierchen
						</h1>
						<p>
							Abschluss: Mittlere Reife
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\school3.jpg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2001-2005</time>
					<div class="discovery">
						<h1>
							Ausbildung Kfz-Mechaniker, Autohaus Graml, Hilpoltstein
						</h1>
						<p>
							Abschluss: Gesellenbrief
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\kfz2.jpg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2005-2012</time>
					<div class="discovery">
						<h1>
							Kfz-Mechaniker, Autohaus Graml, Hilpoltstein
						</h1>
						<p>
							Wartung & Service am Kfz
							<br>
							Fehleranalyse & Schadensdokumentation
							<br>
							Reparaturarbeiten
							
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\kfz.jpg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2011</time>
					<div class="discovery">
						<h1>
							IHK-Nürnberg Mittelfranken
						</h1>
						<p>
							Abschluss: Industriemeister
							<br>
							Fachbereich: Mechatronik
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\brief.jpg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2013-2016</time>
					<div class="discovery">
						<h1>
							Servicetechniker,<br> KW Energie GmbH, Freystadt
						</h1>
						<p>
							Inbetriebnahme & Überwachung der BHKW´s 
							<br>
							Reparaturarbeiten & Technischer Notdienst
						</p>
					</div>
					<div>
						<img class="img" src="./assets/images/kw.jpeg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2016-2018</time>
					<div class="discovery">
						<h1>
							Fluggerätemechaniker, Airbus, Manching
						</h1>
						<p>
							2 Jahresvertrag
							<br>
							Cockpitupgrade (Digitaliesierung)
							<br>
							an Awacs-Aufkärungsflugzeugen
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\airbus.jpg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2018-2020</time>
					<div class="discovery">
						<h1>
							CEO-Eventservice, Zweitagebart GmbH
						</h1>
						<p>
							Einstellung & Disposition externer Subunternehmer/Mitarbeiter
							<br>
							Koordinationsgespräche mit Kunden/Mitarbeiter
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\dj.jpg">
					</div>
				</div>
			</li>
			<li>
				<div class="box">
					<time>2021</time>
					<div class="discovery">
						<h1>
							Ausbildung Software Engineer, Developer Academy GmbH, München
						</h1>
						<p>
							Abschluss: Zertifikat zum Software Engineer
						</p>
					</div>
					<div>
						<img class="img" src=".\assets\images\pro.jpg">
					</div>
				</div>
			</li>
		</ul>
	</section>
</div>






