
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.2em;
  
}

span {
  font-size: 45px;
}

p {
  font-size: 1.1em;
  text-align: center;
  margin-top: -10px;
  
}

.box {
  box-shadow:5px 5px 0px  rgb(42, 5, 42);
}

.lebenslauf {
  // font: normal 16px/1.5 'Titillium Web', sans-serif;
  // background: rgb(23, 20, 20);
  color: whitesmoke;
  overflow: hidden;
  padding-bottom: 50px;
  text-align: center;
}

.timeline {
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: rgb(255, 255, 255);
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) rotate(45deg);
        width: 20px;
        height: 20px;
        z-index: 110;
        background: #fff;
      }
      div {
        position: relative;
        bottom: 0;
        width: 33vw;
        height: 27vh;
        background: rgb(45, 40, 40);
        
        border-radius: 5px;
        display: flex;
        align-items: center;
        time {
          position: absolute;
          background: rgb(32, 74, 74);
          width: 85px;
          height: 30px;
          top: -20px;
          left: 45%;
          border-radius: 5px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          z-index: 5;
          align-items: center;
          letter-spacing: 2px;
        }
        div {
          height: 27vh;
          width: 33vw;
          display: flex;
          overflow: inherit;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            text-align: start;
          }
        }
        .discovery {
          width: 30vw;
          height: 20vh;
          margin: 10px;
        }
        .img {
          width: 200px;
          height: 200px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      &:nth-of-type(odd) {
        > div {
          left: 7vw;
        }
      }
      &:nth-of-type(even) {
        > div {
          left: -40vw;
        }
      }
    }
  }
}

.timeline {
  ul {
    li {
      div {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &:nth-of-type(odd) {
        div {
          transform: translate3d(100px, -10px, 0) rotate(10deg);
        }
      }
      &:nth-of-type(even) {
        div {
          transform: translate3d(-100px, -10px, 0) rotate(10deg);
        }
      }
      &.in-view {
        div {
          transform: none;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .img {
    width: 50px;
    height: 50px;
  }
  p {
    display: none;
  }
  
  .timeline {
    ul {
      li {
        margin-left: 20px;
        div {
          width: 60vw;
          height: 25vh;
          
          div {
            height: 20vh;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
 
  .img {
    display: none;
  }
  p {
    display: none;
  }
  h1 {
    font-size: 15px;
    display: block;
  }
  .timeline {
    ul {
      li {
        margin-left: 5px;
        div {
          width: 60vw;
          height: 25vh;
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}
