.all {
    margin: 0;    
}

.front {
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animated-text {
    width: 500px;
    overflow: hidden;
    text-align: start;
    height: 1.1em;
    font-size: 52px;
    word-wrap: break-word;
    white-space: nowrap;
    animation: typing;
    animation-duration: 7s;
    animation-iteration-count: steps(30) forwards;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 40ch;
    }
}

img {
    left: 40%;
    right: 40%;
    top: 35%;
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    animation-name: avatar;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes avatar {
    from {
        left: 40%;
    }

    to {
        left: 63%;
        top: 35%;
        width: 300px;
        height: 300px;
        box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px rgb(225,28,6), inset -20px 0 80px rgb(240,111,56), inset 20px 0 300px rgb(225,28,6),
            inset -20px 0 300px rgb(240,111,56), 0 0 50px #fff, -10px 0 80px rgb(225,28,6), 10px 0 80px rgb(240,111,56);
        // box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f,
        // inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    }
}

@media screen and (max-width: 1120px) {
    .all {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80vw;
    }
    .front {
        width: 90vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .animated-text {
        display: flex;
        justify-content: center;
        font-size: 40px;
        animation: typing;
        position: relative;
        animation-duration: 5s;
        opacity: 0;
        animation-iteration-count: steps(30) forwards;
        animation-fill-mode: forwards;
    }

    @keyframes typing {
        from {
            top: 0%;
            width: 0;
            opacity: 0;
        }

        to {
            top: -20%;
            width: 30ch;
            opacity: 1;
        }
    }

    img {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 30%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        animation-name: avatar;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }

    @keyframes avatar {
        from {
            left: 30%;
            top: 20%;
        }

        to {
            top: 50%;
            width: 200px;
            height: 200px;
            left: 30%;
            box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
        }
    }
}

@media screen and (max-width: 650px) {
    .animated-text {
        display: flex;
        justify-content: center;
        left: 13%;
        font-size: 20px;
    }

    img {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 27%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation-name: avatar;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }

    @keyframes avatar {
        from {
            left: 27%;
            top: 20%;
        }

        to {
            top: 50%;
            width: 200px;
            height: 200px;
            left: 27%;
            box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
        }
    }
}
