<div class="containers" id="skills">
	<h1>Skills</h1>
	<div class="wrapper">
		<div class="container">

			<div class="label one">
				<i class="fab fa-html5"></i>
				HTML
			</div>
			<div class="progress-bar">
				<div class="progress fill-1">
					<div class="glow"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="label two">
				<i class="fab fa-sass"></i>
				CSS/SCSS
			</div>
			<div class="progress-bar">
				<div class="progress fill-2">
					<div class="glow"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="label three">
				<i class="fab fa-js-square"></i>
				JavaScript
			</div>
			<div class="progress-bar">
				<div class="progress fill-3">
					<div class="glow"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="label four">
				<i class="fab fa-git"></i>
				Git
			</div>
			<div class="progress-bar">
				<div class="progress fill-4">
					<div class="glow"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="label five">
				<i class="fab fa-angular"></i>
				Angular
			</div>
			<div class="progress-bar">
				<div class="progress fill-5">
					<div class="glow"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="label six">
				<i class="far fa-lightbulb"></i>
				Scrum
			</div>
			<div class="progress-bar">
				<div class="progress fill-6">
					<div class="glow"></div>
				</div>
			</div>

		</div>

	</div>

	<!-- <div class="skills">

		<ul>
			<li>
				<a href="#">
					Scrum
				</a>
			</li>
			<li>
				<a href="#">
					Rest API
				</a>
			</li>
			<li>
				<a href="#">
					Test automation
				</a>
			</li>
			<li>
				<a href="#">
					Database
				</a>
			</li>
			<li>
				<a href="#">
					Design Thinking
				</a>
			</li>
			

		</ul>

	</div> -->
</div>
