<div class="projects" id="project">
<article class="flow">
	<h1>My Projects</h1>
	<div class="team">
	  <ul class="auto-grid" role="list">
		<li>
		  <a href="http://matthias-maersch.developerakademie.net/sakuraramen/" target=_blank class="profile">
			<h2 class="profile__name">Sakura Rahmen</h2>
			<p>HTML  /  CSS Website <br></p>
			<img alt="Anita Simmons" src="./assets/images/sakura.png" />
		  </a>
		</li>
		<li>
		  <a href="http://matthias-maersch.developerakademie.net/lieferando2/" target=_blank class="profile">
			<h2 class="profile__name">Lieferando</h2>
			<p>HTML  /  CSS  /  Javascript <br>Website</p>
			<img alt="Profile shot for Celina Harris" src="./assets/images/lieferando.png" />
		  </a>
		</li>
		<li>
		  <a href="http://matthias-maersch.developerakademie.net/kanbanboard/" target=_blank class="profile">
			<h2 class="profile__name">Kanbanboard</h2>
			<p>HTML  /  CSS  /  Javascript Business Website</p>
			<img alt="Profile shot for Ruby Morris" src="./assets/images/kanban.png" />
		  </a>
		</li>
		<li>
		  <a href="http://matthias-maersch.developerakademie.net/elpolloloco/" target=_blank class="profile">
			<h2 class="profile__name">El Pollo Locco</h2>
			<p>CSS  /  Javascript WebApp Game</p>
			<img alt="Profile shot for Nicholas Castro" src="./assets/images/Opción2.png" />
		  </a>
		</li>
		<li>
		  <a href="https://djzweitagebart.de/" target=_blank class="profile">
			<h2 class="profile__name">Eventdienst<br>leister</h2>
			<p>WordPress Website</p>
			<img alt="Profile shot for Marc Dixon" src="./assets/images/djseite.jpg" />
		  </a>
		</li>
		<li>
		  <a href="https://tiktok.com" target=_blank class="profile">
			<h2 class="profile__name">Ich</h2>
			<p>Schonwieder Ich</p>
			<img alt="Profile shot for Chad" src="./assets/images/portfolio2.jpg" />
		  </a>
		</li>
		<li>
			<a href="https://tiktok.com" target=_blank class="profile">
			  <h2 class="profile__name">Ich</h2>
			  <p>Schonwieder Ich</p>
			  <img alt="Profile shot for Chad" src="./assets/images/portfolio2.jpg" />
			</a>
		  </li>
		  <li>
			<a href="https://tiktok.com" target=_blank class="profile">
			  <h2 class="profile__name">Ich</h2>
			  <p>Schonwieder Ich</p>
			  <img alt="Profile shot for Chad" src="./assets/images/portfolio2.jpg" />
			</a>
		  </li>
	  </ul>
	</div>
  </article>
</div>