html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;
    font-family: "Caveat", cursive;
    font-family: "Homemade Apple", cursive;
    font-family: "Nothing You Could Do", cursive;
    // background: linear-gradient(180deg, black, black, rgb(135, 63, 32), rgb(123, 15, 33),black);
    background-image: url("./assets/images/bg1.png");
    // background-repeat: no-repeat;
    object-fit: cover;
    background-attachment:fixed;
    
}

